<zephyr>
  <window>
    <width>1024</width>
    <height>768</height>
    <title>Zephyr</title>
    
    <fullscreen>false</fullscreen>
    <capture-mouse>true</capture-mouse>
    
  </window>
  
  <gfx>
    <vsync>true</vsync>
    
    <camera>
      <fov>60</fov>
      <z-near>1</z-near>
      <z-far>100</z-far>
    </camera>
    
  </gfx>
  
  <resources>
    <file>resources/materials.xml</file>
  </resources>
  
</zephyr>